<script lang="ts" setup>

</script>

<template>
    <div class="demo-grid">

        <!-- Single image -->
        <img v-fullscreen-image="{
            imageUrl: 'https://placehold.co/2000x4000/edede9/black',
            withDownload: true,
            animation: 'blur',
            anchor: '#child',
        }" src="https://placehold.co/200x400/edede9/black?text=Single+Image" />

        <!-- Global Gallery -->
        <img v-fullscreen-image="{
            imageUrl: 'https://placehold.co/500x500/d6ccc2/black?text=Global+Gallery+(+image+1+)',
            withDownload: true,
            animation: 'blur',
            gallery: true,
        }" src="https://placehold.co/200x400/d6ccc2/black?text=Global+Gallery+\n+1" />
        <img v-fullscreen-image="{
            imageUrl: 'https://placehold.co/500x500/d6ccc2/black?text=Global+Gallery+(+image+2+)',
            withDownload: true,
            animation: 'blur',
            gallery: true,
        }" src="https://placehold.co/200x400/d6ccc2/black?text=Global+Gallery+\n+2" />

        <!-- Panorama image (legacy : multiple imageUrl) -->
        <img v-fullscreen-image="{
            imageUrl: ['https://placehold.co/2000x4000/d5bdaf/black?text=Panorama+(+image+1+)', 'https://placehold.co/2000x4000/d5bdaf/black?text=Panorama+(+image+2+)'],
            withDownload: true,
            animation: 'blur',
            anchor: '#child',
        }" src="https://placehold.co/200x400/d5bdaf/black?text=Panorama+\n+- legacy\n- multiple sources\n- linked+to+global+gallery" />

        <!-- First Named Gallery -->
        <img v-fullscreen-image="{
            imageUrl: 'https://placehold.co/500x500/f5ebe0/black?text=First+Gallery+(+image+1+)',
            withDownload: true,
            animation: 'blur',
            gallery: 'first',
        }" src="https://placehold.co/200x400/f5ebe0/black?text=First+Gallery+\n+1" />
        <img v-fullscreen-image="{
            imageUrl: 'https://placehold.co/500x500/f5ebe0/black?text=First+Gallery+(+image+2+)',
            withDownload: true,
            animation: 'blur',
            gallery: 'first',
        }" src="https://placehold.co/200x400/f5ebe0/black?text=First+Gallery+\n+2" />
        <img v-fullscreen-image="{
            imageUrl: 'https://placehold.co/500x500/f5ebe0/black?text=First+Gallery+(+image+3+)',
            withDownload: true,
            animation: 'blur',
            gallery: 'first',
        }" src="https://placehold.co/200x400/f5ebe0/black?text=First+Gallery+\n+3" />

        <!-- Second Named Gallery -->
        <img v-fullscreen-image="{
            imageUrl: 'https://placehold.co/500x500/957e70/white?text=Second+Gallery+(+image+1+)',
            withDownload: true,
            animation: 'blur',
            gallery: 'second',
        }" src="https://placehold.co/200x400/957e70/white?text=Second+Gallery+\n+1" />
        <img v-fullscreen-image="{
            imageUrl: 'https://placehold.co/500x500/957e70/white?text=Second+Gallery+(+image+2+)',
            withDownload: true,
            animation: 'blur',
            gallery: 'second',
        }" src="https://placehold.co/200x400/957e70/white?text=Second+Gallery+\n+2" />
        <img v-fullscreen-image="{
            imageUrl: 'https://placehold.co/500x500/957e70/white?text=Second+Gallery+(+image+3+)',
            withDownload: true,
            animation: 'blur',
            gallery: 'second',
        }" src="https://placehold.co/200x400/957e70/white?text=Second+Gallery+\n+3" />

        <div id="parent">
            <div id="child">
            </div>
        </div>
    </div>
</template>

<style>
.demo-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
</style>
